@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
.btn-green {
  background: linear-gradient(103.81deg, #4aa664 -36.61%, #064635 152.5%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-green:hover {
  -webkit-box-shadow: 0px 6px 24px rgba(13, 74, 44, 0.356);
          box-shadow: 0px 6px 24px rgba(13, 74, 44, 0.356);
}

.text-green {
  color: #519259;
}

body {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}

section {
  padding: 60px 0;
}

.float {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  background-color: #519259;
  color: #ffffff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-box-shadow: 0px 4px 4px rgba(13, 74, 43, 0.452);
          box-shadow: 0px 4px 4px rgba(13, 74, 43, 0.452);
}

.float:hover {
  color: #ffffff;
  -webkit-box-shadow: 0px 6px 24px rgba(13, 74, 44, 0.356);
          box-shadow: 0px 6px 24px rgba(13, 74, 44, 0.356);
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0;
}

.navbar-toggler {
  width: 20px;
  height: 20px;
  position: relative;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.navbar-toggler span {
  margin: 0;
  padding: 0;
}

.navbar-toggler .toggler-icon {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #fc3131;
  border-radius: 2px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.navbar-toggler .mid-bar {
  margin: 0px;
}

.navbar-toggler .top-bar {
  margin-top: 0px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.navbar-toggler .mid-bar {
  width: 0;
}

.navbar-toggler .bot-bar {
  margin-top: 0px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.navbar-toggler.collapsed .top-bar {
  margin-top: -8px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.navbar-toggler.collapsed .mid-bar {
  width: 100%;
}

.navbar-toggler.collapsed .bot-bar {
  margin-top: 8px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.navbar-toggler.collapsed .toggler-icon {
  background: #303030;
}

.nav-link {
  color: #303030;
  position: relative;
}

.nav-link::before {
  content: "";
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  height: 5px;
  position: absolute;
  background-color: #519259;
}

.jumbotron h5 {
  font-size: 16px;
}

.jumbotron h1 {
  font-size: 32px;
}

.lead {
  font-size: 16px;
}

.about .cta span {
  font-size: 14px;
}

.service {
  background: #519259;
}

@media (min-width: 992px) {
  .nav-link-ltr::before {
    width: 0%;
    bottom: 0;
    border-radius: 2px;
  }
  .nav-link-ltr:hover::before {
    width: 70%;
  }
  .jumbotron h5 {
    font-size: 18px;
  }
  .jumbotron h1 {
    font-size: 42px;
  }
  .lead {
    font-size: 18px;
  }
}
/*# sourceMappingURL=style.css.map */