@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import "./css/buttons";
@import "./css/colors";
@import "./css/typography";

body {
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
}
section {
    padding: 60px 0;
}

.float {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    background-color: $green;
    color: $white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    transition: all 0.5s;
    box-shadow: 0px 4px 4px rgba(13, 74, 43, 0.452);

    &:hover {
        color: $white;
        box-shadow: 0px 6px 24px rgba(13, 74, 44, 0.356);
    }
}

// Navbar
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: 0;
}
.navbar-toggler {
    width: 20px;
    height: 20px;
    position: relative;
    transition: 0.5s ease-in-out;

    span {
        margin: 0;
        padding: 0;
    }

    .toggler-icon {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        background: #fc3131;
        border-radius: 2px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: 0.25s ease-in-out;
    }
    .mid-bar {
        margin: 0px;
    }

    //
    .top-bar {
        margin-top: 0px;
        transform: rotate(-45deg);
    }
    .mid-bar {
        width: 0;
    }
    .bot-bar {
        margin-top: 0px;
        transform: rotate(45deg);
    }
}

.navbar-toggler.collapsed {
    .top-bar {
        margin-top: -8px;
        transform: rotate(0deg);
    }
    .mid-bar {
        width: 100%;
    }
    .bot-bar {
        margin-top: 8px;
        transform: rotate(0deg);
    }

    .toggler-icon {
        background: $black;
    }
}

.nav-link {
    color: $black;
    position: relative;

    &::before {
        content: "";
        transition: all 0.3s;
        height: 5px;
        position: absolute;
        background-color: $green;
    }
}

// jumbotron
.jumbotron {
    h5 {
        font-size: 16px;
    }

    h1 {
        font-size: 32px;
    }
}

.lead {
    font-size: 16px;
}

// About
.about {
    .cta {
        span {
            font-size: 14px;
        }
    }
}

// Service
.service {
    background: $green;
}

//
//
// Desktop Responsive

@media (min-width: 992px) {
    .nav-link-ltr {
        &::before {
            width: 0%;
            bottom: 0;
            border-radius: 2px;
        }
        &:hover {
            &::before {
                width: 70%;
            }
        }
    }

    //jumbotron
    .jumbotron {
        h5 {
            font-size: 18px;
        }

        h1 {
            font-size: 42px;
        }
    }

    .lead {
        font-size: 18px;
    }
}
